<%= form_with(model: [@place, station], local: true) do |form| %>
  <% if station.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(station.errors.count, "error") %> prohibited this station from being saved:</h2>

      <ul>
      <% station.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name_of_railway_line %>
    <%= form.text_field :name_of_railway_line %>
  </div>

  <div class="field">
    <%= form.label :station_name %>
    <%= form.text_field :station_name %>
  </div>

  <div class="field">
    <%= form.label :how_many_mins_walk %>
    <%= form.number_field :how_many_mins_walk %>
  </div>

  <div class="field">
    <%= form.label :place_id %>
    <%= form.text_field :place_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
